* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --white: #ffffff;
  --dark-gray: #323238;
  --light-gray: #e1e1e6;
  --green: #02799d;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  display: flex;
  flex-direction: row;
  width: 82.1rem;
  height: calc(100vh - 15rem);
  margin: auto;
}

#left,
#right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer {
  display: flex;
}

#timer span {
  font-size: 12.6rem;
  font-weight: 700;
  color: var(--dark-gray);
}

#controls {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

#controls button {
  background: none;
  border: none;
  color: var(--dark-gray);
  font-size: 4.8rem;
  cursor: pointer;
}

#sounds {
  display: grid;
  gap: 3.2rem;
  grid-template-areas:
    "A B"
    "C D";
}

.forest {
  grid-area: A;
}

.cloud {
  grid-area: B;
}

.coffee {
  grid-area: C;
}

.flames {
  grid-area: D;
}

#sounds button {
  width: 13.8rem;
  height: 15.2rem;
  border: none;
  background: var(--light-gray);
  border-radius: 2.4rem;
  /* transition: background 0.3s; */
  cursor: pointer;
}

/* #sounds button:hover {
  background: #d4d4d4;
} */

svg path {
  fill: var(--dark-gray);
}

/* controls */
#controls button.ph-play-circle {
  color: var(--green);
}

.running .ph-play-circle {
  display: none;
}

.running #controls button.ph-stop-circle {
  color: var(--green);
}

/* controls sounds */

.music-on-forest #sounds button.forest,
.music-on-rain #sounds button.cloud,
.music-on-coffee #sounds button.coffee,
.music-on-flames #sounds button.flames {
  background: var(--green);
}

.music-on-forest #sounds button.forest svg path,
.music-on-rain #sounds button.cloud svg path,
.music-on-coffee #sounds button.coffee svg path,
.music-on-flames #sounds button.flames svg path {
  fill: var(--white);
}
